.container {


    .knowledge-title {
        font-size: 4rem;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        .knowlegde {
            height: 10rem;
            background-image: white;
            box-shadow: 0px 10px 10px rgb(66, 22, 209);
            margin: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border-radius: 2rem;
            width: auto;

            .card-knowledge {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .img-knowledge {
                    width: 3rem;
                }

                .certification {
                    margin-top: 1rem;

                    .img-certification {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }
}

#skills{
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:"998px") {
    #skills{
        scroll-margin-top: 50px;
    }
}

@media (max-width:"576px") {
    .container {
        .knowledge-title {}

        .row {


            .knowlegde {
                height: 10rem;
                background-image: white;
                box-shadow: 0px 10px 10px rgb(66, 22, 209);
                margin: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                border-radius: 2rem;

                .card-knowledge {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .img-knowledge {
                        width: 3rem;
                        height: 3rem;
                    }

                    .certification {
                        .img-certification {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}